{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'gcsclient/img/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'gcsclient/img/favicon-32x32.png' %}">
    <link rel="stylesheet" href="{% static 'gcsclient/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'gcsclient/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'gcsclient/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'gcsclient/css/Toggle-Switch.css' %}">
</head>

<style>
    .bg-model {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 5%;
        position: absolute;
        background-color: rgb(209, 75, 75);
        top: 10px;
        z-index: 1;
        justify-content: center;
        align-items: center;
        left: 5%;
        padding: 0;
        border-radius: 10px;
    }
    .bg-model p {
        text-align: center;
        justify-content: center;
        padding: 0;
    }
</style>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark">
        <div class="container-fluid"><a class="navbar-brand" href="{% url 'gcsclient-dashboard' %}">MAVIDS</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    {% with url_name=request.resolver_match.url_name %}
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url_name == 'gcsclient-dashboard' %}active{% endif %}" href="{% url 'gcsclient-dashboard' %}">Dashboard</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url_name == 'gcsclient-settings' %}active{% endif %}" href="{% url 'gcsclient-settings' %}">Settings</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url_name == 'gcsclient-training' %}active{% endif %}" href="{% url 'gcsclient-training' %}">Training</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url_name == 'gcsclient-reports' %}active{% endif %}" href="{% url 'gcsclient-reports' %}">Reports</a></li>
                    {% endwith %}
                </ul>
            </div>
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: rgba(255,255,255,0.5);">{{request.user.username}}</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="{% url 'logout' %}?next=/"class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="bg-model">
        <p>Lost connection to the onboard client!</p>
    </div>
    <ul class="list-group"></ul>
    {% block content %}{% endblock %}
    <div style="margin-top: 15px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
    <footer class="bg-dark" style="width: 100%;height: 60px;bottom:0;position: absolute;line-height: 60px;">
        <div class="container">
            <p class="text-center" style="color: rgba(255,255,255,0.5);font-size: 13px;margin-bottom: 0px;">Copyright&nbsp;© 2020 - US Patent Pending: 62993724, March 2020</p>
        </div>
    </footer>
    <script src="{% static 'gcsclient/js/jquery.min.js' %}"></script>
    <script src="{% static 'gcsclient/js/main.js' %}"></script>
    <script src="{% static 'gcsclient/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>