{% extends "gcsclient/base.html" %}
{% block title %}MAVIDS - Training{% endblock %}
{% block content %}
    <div class="container" style="padding-top: 15px;">
        <h5>Training</h5>
        <hr>
    </div>
    <div class="container">
        <p></p>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="container" style="padding-left: 0px;">
                            <form method="post" action="{% url 'gcsclient-training' %}">
                            {% csrf_token %}
                            <p>Selected algorithms:</p>
                            <div class="custom-control custom-control-inline custom-checkbox"><input class="custom-control-input" type="checkbox" id="ocsvm" name="ocsvm"><label class="custom-control-label" for="ocsvm">One-Class SVM</label></div>
                            <div class="custom-control custom-control-inline custom-checkbox"><input class="custom-control-input" type="checkbox" id="autoencoder" name="autoencoder"><label class="custom-control-label" for="autoencoder">Autoencoder</label></div>
                            <div class="custom-control custom-control-inline custom-checkbox"><input class="custom-control-input" type="checkbox" id="lof" name="lof"><label class="custom-control-label" for="lof">Local Outlier Factor</label></div>
                            <p style="margin-top: 14px;">Individual algorithm training options here.</p>
                            <p style="margin-top: 15px;">Select previous benign flight log:<br></p><input type="file" style="margin-left: 0px;"></div>
                    </div><button class="btn btn-primary" type="submit" style="margin-top: 5px;" name="train">Start Training</button></div>
                            </form>
                <div class="col-md-6">
                    <p>Output:</p><textarea class="bg-white" style="width: 100%;height: 400px;overflow-y: scroll;resize: none;" readonly="" name="output">{{ output }}</textarea>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}